body{
    margin: 0;
    padding: 0;

}

.logo-svg, .logo-text{
    color: white;
    font-size: 24px;
}


.sidebar-svg, .sidebar-text{
    color: white;
}

.main-container{
    background-color: grey;
    min-height: 100%;

    display: grid;

    grid-template-columns: 225px 2fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    background-color: #0ea5e9;
    grid-row: 1/-1; 
    

    display : grid;
    grid-template-rows: 75px 1fr 2fr;
    gap : 32px;
}


.sidebar-logo{

    padding-left: 8px;
    display: flex;
    gap : 8px;
    align-items: center;
    
}

.sidebar-links,
.sidebar-setting{
    margin-left : 20px;
}

.sidebar-links-content{
    display : grid;
    grid-template-columns: 20px 1fr;
    gap : 16px;
    align-items: center;
}

.sidebar-setting-links{
    display : grid;
    grid-template-columns: 20px 1fr;
    gap : 16px;
    align-items: center;
}


.header{
    grid-column: 2/-1;
    background-color: whitesmoke;

    display: grid;
    grid-template-rows: 1fr 2fr;
    
}

.header-upper{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap : 64px;
}


.header-upper-left-container {
    flex : 1;
    display: flex;
    gap : 16px;

    margin-left : 16px;
    
}

.header-upper-right-container{
    flex : 1;
    display: flex;
    align-items: center;
    gap : 32px;

    margin-right : 32px;

    justify-content: flex-end;
}

#header-search-bar{
    width: 35%;
    background-color:#cbd5e1;
    border-radius: 15px;
    border : solid 1px #cbd5e1;

    flex : 1;
}

img{
    border-radius: 50%;
}

.header-lower{
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
}

.header-lower-left-grid{
    margin-left : 16px;
}

.header-lower-right-grid{
    margin-right: 32px;
}

.header-lower-text-intro{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.header-lower-intro-greeting,
.header-lower-name{
    /* align-self: flex-end; */
    font-weight:bold;
    margin: 0;
}

.header-lower-name{
    font-size: 24px;
}

.header-lower-button{
    background-color: #0ea5e9 ;
    border-radius: 15px;
    border : 1px solid #0ea5e9;
    color: white;
    padding : 5px 10px;

    
}

.header-lower-button-container{
    display: flex;
    gap : 16px;
}

.header-lower-left-grid{
    display: flex;
    align-items: center;
    gap : 16px;
    
}


.content{
    background-color:#cbd5e1;

    display : grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content-project{
    /* border: 2px solid red; */

    grid-row: 1/-1;

    margin-left: 16px;
    margin-right: 16px;
}

.card{
    background-color: white;
    height : 175px;
    padding : 16px;

    display: flex;
    flex-direction: column;

    border-left: 10px solid #fda4af;
    border-radius: 2%;

} 

.card-text{
    flex: 1;
    align-self: flex-start;
    padding-top: 0;

    color: #44403c
}
.content-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     /* grid-template-rows: repeat(2, 1fr); */
    gap: 16px;
}

.card-links{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.card .title{
    font-weight: bold;
}

.content-title{
    font-weight: bold;
    font-size: 18px;
}

.annoucement-card{

    background-color: white; 
    width: 85%;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap : 8px;

    border-radius : 5px;

}

.annoucement-section{
    margin-left: 12px;
    margin-right: 12px;
}

.annoucement-title{
    margin-bottom: 2px;
}

.announcement-description{
    margin-top: 0;
}

.trending-card{
    background-color: white; 
    width: 85%;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap : 8px;

    border-radius : 5px;
}

.trending-card-sections{
    display: flex;
    align-items: center;
    gap : 8px;
    margin : 8px;
    padding-bottom: 4px;
}

.trending-card-text{
    display: flex;
    flex-direction: column;  
    gap: 2px; 
}
.trend-title,
.annoucement-title{
    font-weight: 900;
}
.trend-title,
.trend-intro{
    margin : 0;
}