body{
    height: 100vh;
    width: 100vw;
}


.main-container{
    background-color: grey;
    height: 100%;

    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    background-color: lightskyblue;

    grid-row: 1/-1; 
}


.header{
    grid-column: 2/-1;
    background-color: whitesmoke;
}

.content{
    background-color: grey;
}